<%inherit file="base.html" />

<%block name="content">
<h3>
    About us page
</h3>

<div style="width: 596px; margin: auto;">

<img align="right" src="images/09.jpg" width="180" height="245" border="1,5px" hspace="10">
    <font size="3"><font color="ff6600"><b></font></b>
	<br>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Зовут меня Ия. Шью я с самого детства.<br>
Когда я училась в школе, я очень любила заниматься в различных детских кружках по рукоделию, таких как: аппликация, изготовление искусственных цветов,  вышивка, рисование, лепка.  На протяжении нескольких лет посещала кукрсы по кройке и шитью. Шила несложную одежду себя и своей семье.<br></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;И когда подошло время получать профессию, то окончила Днепропетровской государственный политехникуме, получив специальность технолога швейного производства, а затем Хмельницкий Национальный Университет, приобретя диплом модельера-конструктора. После окончания университета я увлеклась историей костюма, созданием сценической и театральной одежды. В 2008 году начала шить сценические костюмы на заказ. А спустя год заналась изготовлением «косплей»-костюмы для анимэ-фестивалей, стала шить и вышивать костюмы для танца живота. <br></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сейчас занимаюсь узучением различных технологий создания  исторических и народных костюмов, сценической и танцевальной одежды. Постоянно осваиваю новые методы изготовления костюмов для сцены и театра. Всегда рада узнать что-то новое и интересное в этой сфере. Люблю свою работу, люблю интересные, оригинальные заказы. Часто бывает жаль расставаться с пошитыми костюмами. Но это лишь стимул, чтобы создавать новые!<br></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Если у Вас есть интересные идеи — обращайтесь! <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Буду рада совместному творчеству! <br></p>
<div>
</%block>
